---
layout: default
title: web development
card:
- heading: Custom Website
  price: from 500€
  description: What's included
  description-html: Lorem 
- heading: Menu 1
  prices: 30€
  description-html:
---


{% include header-nav.html %}
<!------ HEader----->
<header class="grid padded ">
    <div class="col-4_sm-12-middle center">
        <h2> Web Development.</h2>
    </div>
    <div class="col-8_sm-12 bg-image bg-webdev tall-60" ></div>
</header>


<!------ section banner-->
<section class="padded bg-dark">
    <h2 class="light-text center italic">HELPING YOU CHANGE YOUR WORLD THROUGH WEB DESIGN THAT LOOKS GOOD and DOES GOOD.</h2>
</section>


<!-------- cards --------->
<section class="light-bg centered padded">
  {% for item in page.card %}
    <h2 class="center"> Amazing Website. </h2>
    <p class="center">Your Website is your front window shop online, the first impression customers gets of your brand. Are you ready to stand out?</p>
    <div class="grid padded-1">
  
      <div class="col-6_sm-12 padded-1 col-container">
        <div class="pricing card">
          <p class="pricing-name center"> {{item.heading}} </p>
          <p class="price center"> {{item.price}} </p>
          <p>{{item.description}}</p>
          <div>{{item.description-html}}</div>
          <!---
          <ul class="no-bullets">
            <li> + Mockup Design </li>
            <li> + Home Page </li>
            <li> + About / Team Page </li>
            <li> + Contact Page </li>
            <li> + Custom  HTML, CSS & JS</li>
            <li> + Embedded social media </li>
            <li> + Email service embed </li>
            <li> + Pop up alert </li>
            <li> + Mobile Responsive + Basic SEO optimization </li>
            <li> + Website usage video tutorials </li>
          </ul> -->
          <a href="/contact.html" class="button-cards"> Book a Call </a>
        </div>
      </div>
      {% endfor %}
  <!---
      <div class="col-6_sm-12 padded-1 col-container">
        <div class="pricing card">
          <p class="pricing-name center"> Custom Website </p>
          <p class="price center"> from 500€ </p>
          <p>What's included:</p>
          <ul class="no-bullets">
            <li> + Mockup Design </li>
            <li> + Home Page </li>
            <li> + About / Team Page </li>
            <li> + Contact Page </li>
            <li> + Custom  HTML, CSS & JS</li>
            <li> + Embedded social media </li>
            <li> + Email service embed </li>
            <li> + Pop up alert </li>
            <li> + Mobile Responsive + Basic SEO optimization </li>
            <li> + Website usage video tutorials </li>
          </ul>
          <a href="/contact.html" class="button-cards"> Book a Call </a>
        </div>
      </div>
    -->
      <div class="col-6_sm-12 padded-1 col-container">
        <div class="pricing card">
          <p class="pricing-name center"> Shopify E-Shop </p>
          <p class="price center"> from 900€ </p>
          <p>What's included:</p>
          <ul class="no-bullets">
            <li>Shopify Template Design</li>
            <li> + Home Page </li>
            <li> + About / Team Page </li>
            <li> + Contact Page </li>
            <li> + Collections template ( set up of up to 3 collections)</li>
            <li> + Product template</li>
            <li> + Embedded social media </li>
            <li> + Email service embed </li>
            <li> + Pop up alert </li>
            <li> + Mobile Responsive + Basic SEO optimization </li>
            <li> + Website usage video tutorials </li>
          </ul>
          <a href="/contact.html" class="button-cards"> Book a Call </a>
        </div>
      </div>
    </section>
    
    <!-------------- Our skills ---------->
    <!---- fill up and keep going-->
    <section class="grid padded bg-light">
        <div>
            <h2 class="center">Website that stand out and perform.</h2>
            <div class="grid our-benefits">
            <div class="col-4_sm-12 padded ">
                <h4>Responsive Design</h4>
                <p>Did you know around 80% of your traffic will be from mobile? So I'll make sure to built you an amazing responsive website that fits all devices ( computer, tablets, phones).</p>
            </div>
            <div class="col-4_sm-12 padded">
                <h4>Easy to maintain</h4>
                <p>Do you know what's a CMS? It's a Content Management System ! For all sites I use the most user-friendly one, that will fit your needs. You'll get a video tutorials on how to use it and if needed personal support.</p>
            </div>
            <div class="col-4_sm-12 padded">
                <h4>Safe</h4>
                <p>You might be concerned about hacking and it's ok. I use the lates static-site generator, but wait what does that mean? It makes your site load crazy fast but mostly make it crazy secure.</p>
            </div>
            <div class="col-4_sm-12 padded">
                <h4>Unique for you</h4>
                <p>There is NO pre-made templates here, your website will be fully customized & designed regarding your brand & needs.</p>
            </div>
            <div class="col-4_sm-12 padded">
                <h4>SEO Optmised</h4>
                <p>If you are like me few years ago you might not know what is SEO. Search Engine Optimization, to make it shorts it's the art of positioning a website, webpage in google searches. The packaged includes SEO functionality with meta titles, descriptions & keywords.</p>
            </div>
            <div class="col-4_sm-12 padded">
                <h4>Shopify & E-commerce</h4>
                <p>If you need to sell products, fair enough I got you. Get started selling online throught a beautiful custom website with Shopify E-Commerce embedded in your site. Can you belive it will cost you only 9$/months?</p>
            </div>
        </div>
        </div>
    </section>


                  
                