
<footer class="grid-bottom padded bg-dark light-text">
  <!-- column 1-->
  <div class="col-3_sm-12 padded-1">
    <a href="/index.html">
      <img src="/images/logo-beige.png">
    </a>
    <p> Web & Design. </p>
    <nav class="inline socials">
      <a href="#">
        <i class="fab fa-instagram"></i>
    </nav>
  </div>
  <div class="col-1 sm-hidden"> <!-- empty filler --> </div>


  <!-- column 2 -->
  <div class="col-3_sm-4_xs-12 padded-1 light-text">
    <h4> Our Services </h4>
    <nav>
      <a href="/website.html" class="bold"> Website  </a>
      <a href="/design.html" class="bold"> Design </a>
      <a href="/socialmedia.html" class="bold"> Social Media Management </a>
    </nav>
  </div>

  <!---- column 3---->
  <div class="col-3_sm-4_xs-12 padded-1">
    <h4> Explore</h4>
    <nav>
      <a href="/index.html" class="bold">Home Page</a>
      <a href="/portfolio.html" class="bold">Portfolio</a>
      <a href="/about.html" class="bold">About</a>
      <a href="/contact.html" class="bold"> Client Enquiry </a>
      <a href="/privacy.html" class="bold"> Privacy Policy </a>
    </nav>
  </div>
  <!-- column 4-->
  <div class="col-3_sm-4_xs-12 padded-1">
    <h4> Contact </h4>
    <nav>
      <a href="mailto:contact@melissa-studio.com" class="bold"> contact@melissa-studio.com </a>
      <a href="tel:+004531777270" class="bold"> +(45) 31 77 72 70  </a>
      <a class="bold"> Copenhagen, DK </a>
    </nav>
  </div>
  <div class=" col-12-middle center sub-footer">
    <p>Copyright Melissa-Studio</p>
</div>
</footer>


