
<footer class="grid padded bg-dark">
  <!-- column -->
  <div class="col-3_sm-12 padded-1">
    <a href="/index.html">
      <img src="/images/logo-beige.png">
    </a>
    <p> Web & Design. </p>
  </div>
  <div class="col-1 sm-hidden"> <!-- empty filler --> </div>

  <!-- column -->
  <div class="col-4_xs-12 padded-1">
    <h4> Work with me </h4>
    <nav>
      <a href="/website.html"> Web Development  </a>
      <a href="/design.html"> Design </a>
      <a href="/socialmedia.html"> Social Media Management </a>
      <a href="/contact.html"> Client Enquiry </a>
    </nav>
  </div>

  <!-- column -->
  <div class="col-4_xs-12 padded-1">
    <h4> Explore </h4>
    <nav>
      <a href="/services.html"> Step by Step </a>
      <a href="/about.html"> About </a>
      <a href="/portfolio.html"> Portfolio </a>
    </nav>
  </div>
  <p class="col-12-middle center">Copywrite @melissa-studio</p>
</footer>


