<!------------ Nav Menu ----------------->
<header class="grid">
    <div class="col-4-middle "> 
        <a href="/index.html">
            <img src="/images/logo.png"class="logo">
        </a>
    </div>
    <nav class="col-8-middle right">
        <a href="/index.html">HOME</a>
        <a href="/services.html">SERVICES</a>
        <a href="/about.html">ABOUT</a>
        <a href="/contact.html">CONTACT</a>
        <a href="/portfolio.html">PORTFOLIO</a>
    </nav>

    <!---- Mobile Menu ---->
    <div class="col-1 show-sm right">
        <div class="hamburger-button mob-show">
             <i class="fas fa-bars"></i>
         </div>
    </div>

        <nav class=" mobile-menu bg-featured padded">
            <a href="/index.html">Home</a>
            <a href="/about.html">About</a>
            <a href="/contact.html">Contact</a>
            <a href="/prices.html">Prices</a>
            
        </nav>

</header>