<!------------ Nav Menu ----------------->
<header class="grid">

    <div class="col-4_sm-8-middle"> 
        <a href="/index.html">
            <img src="/images/logo.png"class="logo">
        </a>
    </div>
    <nav class="col-8-middle right hide-sm">
        <a href="/index">HOME</a>
        <a href="/services">SERVICES</a>
        <a href="/portfolio">PORTFOLIO</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
     
    </nav>

    <!---- Mobile Menu ---->
    <div class="col-4 show-sm right">
        <div class="hamburger-button mob-show">
             <i class="fas fa-bars"></i>
         </div>
    </div>

        <nav class=" mobile-menu bg-featured padded">
            <a href="/index" class="bold">HOME</a>
            <a href="/services" class="bold">SERVICES</a>
            <a href="/portfolio" class="bold">PORTFOLIO</a>
            <a href="/about" class="bold">ABOUT</a>
            <a href="/contact" class="bold">CONTACT</a>
            
            
        </nav>

</header>