<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
    
     <!-------- BODY --------------------->
     <body>
        {% include inline-styles.html %}
        {% include header-nav.html %}
        <div class="progress-bar"> </div>
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
          <!--<button class="back-to-top hidden"><i class="fa-solid fa-circle-arrow-up back-to-top-icon"></i></button>-->
       

      
        {{ content }}

        {% include footer.html %}

        {% include body-scripts.html %}
    </body>
</html>