<!DOCTYPE html>
<html>
    <head>
        <!-- The title for SEO & browser tabs -->
        <title> Mélissa Mija Portfolio </title>
        <!-- Viewport meta tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Gridlex -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" integrity="sha512-WEQNv9d3+sqyHjrqUZobDhFARZDko2wpWdfcpv44lsypsSuMO0kHGd3MQ8rrsBn/Qa39VojphdU6CMkpJUmDVw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Google Fonts  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,400;0,500;0,600;1,100&family=Overpass:ital,wght@0,100;0,300;0,400;1,100&display=swap" rel="stylesheet">

        <!-- My own custom stylesheet -->
        <link rel="stylesheet" href="/style.css">

    </head>

     <!-------- BODY --------------------->
     <body>
        {{ content }}
    <!----------------- FOOter-------->

    <footer class="grid bg-light">
        <!-- column -->
        <div class="col-5_sm-12 padded">
          <h2 class="logo"> Let's Connect </h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <form class="email-signup" action="https://formspree.io/your@email.com" method="POST">
            <input type="text" name="name" placeholder="Your Name">
            <input type="email" name="_replyto" placeholder="Your Email">
            <input type="submit" value="Send" class="button">
          </form>
        </div>
        <div class="col-1 sm-hidden"></div>
        <!-- column -->
        <div class="col-6_sm-12-middle padded">
          <nav class="inline">
            <a href="#"> Lorem ipsum </a>|
            <a href="#"> Dolor sit </a>|
            <a href="#"> Consectetur </a>
          </nav>
          <nav class="inline socials">
            <a href="#">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-youtube"></i>
            </a>
          </nav>
        </div>
        <p class="col-12-middle center">Copywrite @mélissamija</p>
      </footer>
    </body>
</html>